.envbar {
  color: white;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  background: #EC644B;
  background: repeating-linear-gradient(45deg, rgba(180, 25, 9, 0.8), rgba(180, 25, 9, 0.8) 10px, rgba(206, 51, 35, 0.8) 10px, rgba(206, 51, 35, 0.8) 20px );

  overflow: hidden;

  position: fixed;
  z-index: 999999;
  bottom: 0;
  left: 0;
  width: 100%;
}

.envbar__env {
  display: inline-block;
  background: rgb(180, 25, 9);
  color: #ffe6e6;
  padding: 5px 20px;
}